In [3]:
import numpy as np
import pandas as pd

In [2]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
data

{'losses': [5, 8, 6, 1, 5, 10, 6, 12],
 'team': ['Bears',
  'Bears',
  'Bears',
  'Packers',
  'Packers',
  'Lions',
  'Lions',
  'Lions'],
 'wins': [11, 8, 10, 15, 11, 6, 10, 4],
 'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012]}

In [3]:
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [4]:
%pwd

'/Users/will/Documents/2016DataScience'

In [5]:
!head -n 5 riverru01.csv

In [6]:
from_csv = pd.read_csv('riverru01.csv')
from_csv.head()

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards
0,1995,21,NYY,AL,5.0,1.0,1.0,0.0,0.0,0.0,...,0.000,-100.0,0.0,0.0,0.0,0.0,0.0,0.0,/7,NaN
1,1996,22,NYY,AL,46.0,106.0,88.0,17.0,25.0,6.0,...,0.824,107.0,39.0,1.0,2.0,1.0,2.0,0.0,987,NaN
2,1997,23,SDP,NL,17.0,22.0,20.0,2.0,5.0,1.0,...,0.618,69.0,6.0,0.0,0.0,0.0,0.0,0.0,/897,NaN
3,1998,24,SDP,NL,95.0,204.0,172.0,31.0,36.0,7.0,...,0.703,91.0,65.0,1.0,2.0,1.0,1.0,0.0,987,NaN
4,1999,25,SDP,NL,147.0,475.0,411.0,65.0,80.0,16.0,...,0.701,82.0,167.0,9.0,5.0,0.0,4.0,1.0,*8,NaN

In [7]:
from_csv = pd.read_csv("passing2015.csv")
from_csv.head()

,Rk,Tm,G,Cmp,Att,Cmp%,Yds,TD,TD%,Int,...,Y/G,Rate,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD,EXP
0,1.0,New Orleans Saints,16.0,460.0,667.0,69.0,4970.0,32.0,4.8,12.0,...,310.6,100.6,32.0,235.0,7.1,7.3,4.6,1.0,2.0,178.88
1,2.0,Arizona Cardinals,16.0,353.0,562.0,62.8,4616.0,35.0,6.2,13.0,...,288.5,100.9,27.0,159.0,7.8,8.0,4.6,2.0,5.0,215.02
2,3.0,Pittsburgh Steelers,16.0,391.0,590.0,66.3,4603.0,26.0,4.4,21.0,...,287.7,91.2,33.0,219.0,7.4,6.7,5.3,3.0,4.0,138.45
3,4.0,San Diego Chargers,16.0,442.0,667.0,66.3,4591.0,30.0,4.5,13.0,...,286.9,94.5,40.0,264.0,6.5,6.5,5.7,1.0,2.0,93.92
4,5.0,New England Patriots,16.0,404.0,629.0,64.2,4587.0,36.0,5.7,7.0,...,286.7,101.9,38.0,225.0,6.9,7.5,5.7,2.0,2.0,167.70

In [11]:
sample_revenue = pd.read_excel("Sample_Revenue.xls", 'Sample Data')

In [12]:
sample_revenue.head()

,Revenue Performance,Capability Test Score,Behavior A Score,Behavior B Score,Compensation,Service Month,Type
0,271.8,783.35,33.53,40.55,16.66,13.20,A
1,264.0,748.45,36.50,36.19,16.46,14.11,A
2,238.8,684.45,34.66,37.31,17.66,15.68,A
3,230.7,827.80,33.13,32.52,17.50,10.53,A
4,251.6,860.45,35.75,33.71,16.40,11.00,B

In [17]:
!pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.6.2.tar.gz
Building wheels for collected packages: psycopg2
  Running setup.py bdist_wheel for psycopg2 ... - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done
  Stored in directory: /Users/will/Library/Caches/pip/wheels/49/47/2a/5c3f874990ce267228c2dfe7a0589f3b0651aa590e329ad382
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.6.2

In [8]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost/testdb')

In [14]:
sample_revenue.to_sql("sample_revenue", engine)

In [10]:
a = pd.read_sql_query("SELECT TOP 100 * FROm Ldg_Tran", engine)

OperationalError: (psycopg2.OperationalError) FATAL:  database "testdb" does not exist

In [ ]:
a.head()

In [ ]:
b = pd.read_sql_query("SELECT TOP 100 * FROM Claim", engine)

In [ ]:
b.head()

In [ ]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'
td = pd.read_csv(url, sep='\t')

In [ ]:
td.head()

In [ ]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols, encoding='latin-1')

In [ ]:
users.head()

In [ ]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

In [ ]:
ratings.head()

In [ ]:
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']

In [ ]:
movies = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, usecols=range(5), encoding='latin-1')

In [ ]:
movies.head()

In [ ]:
movies.info()

In [ ]:
movies.dtypes

In [ ]:
users.describe()

In [ ]:
movies.tail(3)

In [ ]:
movies[20:22]

In [ ]:
movies[0:1]

In [ ]:
users['occupation'].head()

In [ ]:
users[['age', 'zip_code']].head()

In [ ]:
custom_cols = ['occupation', 'sex']
users[custom_cols].head()

In [ ]:
users[users.age > 25].head(3)

In [ ]:
users[(users.sex =='F')|(users.age < 30)].head(3)

In [ ]:
users[(users.sex=='M')&(users.age>40)].head(10)

In [ ]:
df = users.set_index('user_id')

In [ ]:
df.head()

In [ ]:
users.head()

In [ ]:
df = users

In [ ]:
users.set_index('user_id', inplace=True)

In [ ]:
users.head()

In [ ]:
users.iloc[99]

In [ ]:
users.iloc[[1, 50, 300]]

In [ ]:
users.loc[100]

In [ ]:
users.loc[[2, 51, 301]]

In [ ]:
users.reset_index(inplace=True)

In [ ]:
users.head()

In [ ]:
left_frame = pd.DataFrame({'key': range(5),
                          'left_value': ['a', 'b', 'c', 'd', 'e']})

In [ ]:
right_frame = pd.DataFrame({'key': range(2,7),
                           'right_value': ['f','g', 'h', 'i', 'j']})

In [ ]:
left_frame

In [ ]:
right_frame

In [ ]:
pd.merge(left_frame, right_frame, on='key', how='inner')

In [ ]:
pd.merge(left_frame, right_frame, left_on='key', right_on='key')

In [ ]:
pd.merge(left_frame, right_frame, on='key', how='left')

In [ ]:
pd.merge(left_frame, right_frame, on='key', how='outer')

In [ ]:
a = pd.concat([left_frame, right_frame])
a

In [ ]:
pd.concat([left_frame, right_frame], axis=1)

In [ ]:
a.iloc[0]

In [ ]:
a.iloc[6]

In [ ]:
pd.concat([left_frame, right_frame], axis=0)

In [ ]:
headers = ['name', 'title', 'department', 'salary']
def s2f(x):
    if x is "":
        return 0.0
    else:
        return float(x.replace('$', ''))

In [ ]:
chicago = pd.read_csv("chicago_salaries.csv",
                      header=0,
                      names=headers,
                      converters={'salary': s2f}
                     )

In [ ]:
chicago.head()

In [ ]:
chicago[chicago.salary==0]

In [ ]:
by_dept = chicago.groupby('department')

In [ ]:
by_dept

In [ ]:
by_dept.count().head()

In [ ]:
by_dept.size().tail()

In [ ]:
by_dept.head()

In [ ]:
by_dept.sum()

In [ ]:
by_dept.mean()[20:25]

In [ ]:
by_dept.sum()[20:25]

In [ ]:
chicago.columns.values.tolist()

In [ ]:
by_dept.title.unique()

In [ ]:
chicago.head(3)

In [ ]:
by_dept.title.nunique().sort_values(ascending=False)[:5]

In [ ]:
def ranker(df):
    df['dept_rank'] = np.arange(len(df)) + 1
    return df

In [ ]:
chicago.sort_values('salary', ascending=False, inplace=True)

In [ ]:
chicago = chicago.groupby('department')

In [ ]:
chicago = chicago.apply(ranker)

In [ ]:
chicago[chicago.dept_rank==1]

In [ ]:
import xlrd