In [118]:
# Python is a dynamic, interpreted language

# Variables
a = 3
a = 2.4
b = "hello world!"
print(b)

# formatting
print("hello %s %i:%i:%f" % ("me", 1, 2, 3.4))

hello world!
hello me 1:2:3.400000

In [119]:
# Function, If-Then-Else
def myfun(a, b):
    if a < b:
        return b - a
    else:
        return a - b

myfun(13, 2)

11

In [120]:
def myfun2(a=1, b=2):
    if a < b:
        return b - a
    else:
        return a - b
print(myfun2())
print(myfun2(b=100))

1
99

In [121]:
# Loops
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [122]:
# Python Classes
class Complex:
    def __init__(self, re, im):
        self.re = re
        self.im = im
c = Complex(10, 9)
print("Real part: %i, imaginary part: %i" % (c.re, c.im))

Real part: 10, imaginary part: 9

In [123]:
# Class: global variables, decorations, inheritance...

In [124]:
# Basic Data Typesa = None
a = 1 # int
a = 2.3 # float
a = Complex(1, 2)
print(type(a))

a = "im a str" # string

<class '__main__.Complex'>

In [125]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      S.__format__(format_spec) -> str
 |
 |      Return a formatted version of S as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(...)
 |      S.capitalize() -> str
 |
 |      Return a capitalized version of S, i.e. make the first character
 |      have upper case and the rest lower case.
 |
 |  casefold(...)
 |      S.casefold() -> str
 |
 |      Return a version of S suitable for caseless comparisons.
 |
 |  center(...)
 |      S.center(width[, fillchar]) -> str
 |
 |      Return S centered in a string of length width. Padding is
 |      done using the specified fill character (default is a space)
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(...)
 |      S.encode(encoding='utf-8', errors='strict') -> bytes
 |
 |      Encode S using the codec registered for encoding. Default encoding
 |      is 'utf-8'. errors may be given to set a different error
 |      handling scheme. Default is 'strict' meaning that encoding errors raise
 |      a UnicodeEncodeError. Other possible values are 'ignore', 'replace' and
 |      'xmlcharrefreplace' as well as any other name registered with
 |      codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(...)
 |      S.expandtabs(tabsize=8) -> str
 |
 |      Return a copy of S where all tab characters are expanded using spaces.
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Like S.find() but raise ValueError when the substring is not found.
 |
 |  isalnum(...)
 |      S.isalnum() -> bool
 |
 |      Return True if all characters in S are alphanumeric
 |      and there is at least one character in S, False otherwise.
 |
 |  isalpha(...)
 |      S.isalpha() -> bool
 |
 |      Return True if all characters in S are alphabetic
 |      and there is at least one character in S, False otherwise.
 |
 |  isdecimal(...)
 |      S.isdecimal() -> bool
 |
 |      Return True if there are only decimal characters in S,
 |      False otherwise.
 |
 |  isdigit(...)
 |      S.isdigit() -> bool
 |
 |      Return True if all characters in S are digits
 |      and there is at least one character in S, False otherwise.
 |
 |  isidentifier(...)
 |      S.isidentifier() -> bool
 |
 |      Return True if S is a valid identifier according
 |      to the language definition.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers
 |      such as "def" and "class".
 |
 |  islower(...)
 |      S.islower() -> bool
 |
 |      Return True if all cased characters in S are lowercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  isnumeric(...)
 |      S.isnumeric() -> bool
 |
 |      Return True if there are only numeric characters in S,
 |      False otherwise.
 |
 |  isprintable(...)
 |      S.isprintable() -> bool
 |
 |      Return True if all characters in S are considered
 |      printable in repr() or S is empty, False otherwise.
 |
 |  isspace(...)
 |      S.isspace() -> bool
 |
 |      Return True if all characters in S are whitespace
 |      and there is at least one character in S, False otherwise.
 |
 |  istitle(...)
 |      S.istitle() -> bool
 |
 |      Return True if S is a titlecased string and there is at least one
 |      character in S, i.e. upper- and titlecase characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |      Return False otherwise.
 |
 |  isupper(...)
 |      S.isupper() -> bool
 |
 |      Return True if all cased characters in S are uppercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  join(...)
 |      S.join(iterable) -> str
 |
 |      Return a string which is the concatenation of the strings in the
 |      iterable.  The separator between elements is S.
 |
 |  ljust(...)
 |      S.ljust(width[, fillchar]) -> str
 |
 |      Return S left-justified in a Unicode string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  lower(...)
 |      S.lower() -> str
 |
 |      Return a copy of the string S converted to lowercase.
 |
 |  lstrip(...)
 |      S.lstrip([chars]) -> str
 |
 |      Return a copy of the string S with leading whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(...)
 |      S.partition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, and return the part before it,
 |      the separator itself, and the part after it.  If the separator is not
 |      found, return S and two empty strings.
 |
 |  replace(...)
 |      S.replace(old, new[, count]) -> str
 |
 |      Return a copy of S with all occurrences of substring
 |      old replaced by new.  If the optional argument count is
 |      given, only the first count occurrences are replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Like S.rfind() but raise ValueError when the substring is not found.
 |
 |  rjust(...)
 |      S.rjust(width[, fillchar]) -> str
 |
 |      Return S right-justified in a string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  rpartition(...)
 |      S.rpartition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, starting at the end of S, and return
 |      the part before it, the separator itself, and the part after it.  If the
 |      separator is not found, return two empty strings and S.
 |
 |  rsplit(...)
 |      S.rsplit(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string, starting at the end of the string and
 |      working to the front.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified, any whitespace string
 |      is a separator.
 |
 |  rstrip(...)
 |      S.rstrip([chars]) -> str
 |
 |      Return a copy of the string S with trailing whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(...)
 |      S.split(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified or is None, any
 |      whitespace string is a separator and empty strings are
 |      removed from the result.
 |
 |  splitlines(...)
 |      S.splitlines([keepends]) -> list of strings
 |
 |      Return a list of the lines in S, breaking at line boundaries.
 |      Line breaks are not included in the resulting list unless keepends
 |      is given and true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(...)
 |      S.strip([chars]) -> str
 |
 |      Return a copy of the string S with leading and trailing
 |      whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(...)
 |      S.swapcase() -> str
 |
 |      Return a copy of S with uppercase characters converted to lowercase
 |      and vice versa.
 |
 |  title(...)
 |      S.title() -> str
 |
 |      Return a titlecased version of S, i.e. words start with title case
 |      characters, all remaining cased characters have lower case.
 |
 |  translate(...)
 |      S.translate(table) -> str
 |
 |      Return a copy of the string S in which each character has been mapped
 |      through the given translation table. The table must implement
 |      lookup/indexing via __getitem__, for instance a dictionary or list,
 |      mapping Unicode ordinals to Unicode ordinals, strings, or None. If
 |      this operation raises LookupError, the character is left untouched.
 |      Characters mapped to None are deleted.
 |
 |  upper(...)
 |      S.upper() -> str
 |
 |      Return a copy of S converted to uppercase.
 |
 |  zfill(...)
 |      S.zfill(width) -> str
 |
 |      Pad a numeric string S with zeros on the left, to fill a field
 |      of the specified width. The string S is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [126]:
# List
a = [1,2,3]
a.append(4)
print(a)

a = (1, "str", 3.4)
print(type(a))

[1, 2, 3, 4]
<class 'tuple'>

In [127]:
#!!! Python slicing notation

a = [3,4,1,2,5,6,9,8,11]

start = 3
end = 7
step = 2

a[start:end] # items start through end-1
a[start:]    # items start through the rest of the array
a[:end]      # items from the beginning through end-1
a[:]         # a copy of the whole array

a[start:end:step] # start through not past end, by step

a[-1]    # last item in the array
a[-2:]   # last two items in the array
a[:-2]   # everything except the last two items

[3, 4, 1, 2, 5, 6, 9]

In [128]:
# Dictionary
adict = { "a": 101,
          "b": 102,
          "c": 103
        }

print(adict)
type(adict)

adict['d'] = 104
print(adict)

{'c': 103, 'a': 101, 'b': 102}
{'c': 103, 'd': 104, 'a': 101, 'b': 102}

In [129]:
# Other common data structures: heapq (min heap)
# Tree, Graph: easy to implement

In [130]:
import numpy as np
import pandas as pd

In [131]:
s = pd.Series([2188, 3822, 39.2, 28.3], index=["rbc_count", "wbc_count", "rbc_percentage", "wbc_percentage"])
print(s)

rbc_count         2188.0
wbc_count         3822.0
rbc_percentage      39.2
wbc_percentage      28.3
dtype: float64

In [132]:
# Apply a math function to a Pandas series
np.log(s)

rbc_count         7.690743
wbc_count         8.248529
rbc_percentage    3.668677
wbc_percentage    3.342862
dtype: float64

In [133]:
# List comprehension
blood_count = [name.endswith("count") for name in s.index]
print(blood_count)

# Filter
s[blood_count]

[True, True, False, False]

rbc_count    2188.0
wbc_count    3822.0
dtype: float64

In [134]:
s.iloc[:3] # positional

rbc_count         2188.0
wbc_count         3822.0
rbc_percentage      39.2
dtype: float64

In [135]:
s.loc[:"rbc_percentage"]

rbc_count         2188.0
wbc_count         3822.0
rbc_percentage      39.2
dtype: float64

In [136]:
s.ix[:3]

rbc_count         2188.0
wbc_count         3822.0
rbc_percentage      39.2
dtype: float64

In [137]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
data

{'losses': [5, 8, 6, 1, 5, 10, 6, 12],
 'team': ['Bears',
  'Bears',
  'Bears',
  'Packers',
  'Packers',
  'Lions',
  'Lions',
  'Lions'],
 'wins': [11, 8, 10, 15, 11, 6, 10, 4],
 'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012]}

In [138]:
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [139]:
football[football.year==2010]

   year   team  wins  losses
0  2010  Bears    11       5
5  2010  Lions     6      10

In [140]:
football[(football.team=="Bears") & (football.wins > 10)]

   year   team  wins  losses
0  2010  Bears    11       5

In [141]:
football[(football.year==2010) | (football.losses < 5)]

   year     team  wins  losses
0  2010    Bears    11       5
3  2011  Packers    15       1
5  2010    Lions     6      10

In [142]:
%pwd

'C:\\Users\\Will\\Documents\\2016DataScience'

In [143]:
!head -n 5 riverru01.csv

'head' is not recognized as an internal or external command,
operable program or batch file.

In [144]:
from_csv = pd.read_csv('riverru01.csv')
from_csv.head()

,Year,Age,Tm,Lg,G,PA,AB,R,H,2B,...,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos,Awards
0,1995,21,NYY,AL,5.0,1.0,1.0,0.0,0.0,0.0,...,0.000,-100.0,0.0,0.0,0.0,0.0,0.0,0.0,/7,NaN
1,1996,22,NYY,AL,46.0,106.0,88.0,17.0,25.0,6.0,...,0.824,107.0,39.0,1.0,2.0,1.0,2.0,0.0,987,NaN
2,1997,23,SDP,NL,17.0,22.0,20.0,2.0,5.0,1.0,...,0.618,69.0,6.0,0.0,0.0,0.0,0.0,0.0,/897,NaN
3,1998,24,SDP,NL,95.0,204.0,172.0,31.0,36.0,7.0,...,0.703,91.0,65.0,1.0,2.0,1.0,1.0,0.0,987,NaN
4,1999,25,SDP,NL,147.0,475.0,411.0,65.0,80.0,16.0,...,0.701,82.0,167.0,9.0,5.0,0.0,4.0,1.0,*8,NaN

In [145]:
from_csv = pd.read_csv("passing2015.csv")
from_csv.head()

,Rk,Tm,G,Cmp,Att,Cmp%,Yds,TD,TD%,Int,...,Y/G,Rate,Sk,Yds.1,NY/A,ANY/A,Sk%,4QC,GWD,EXP
0,1.0,New Orleans Saints,16.0,460.0,667.0,69.0,4970.0,32.0,4.8,12.0,...,310.6,100.6,32.0,235.0,7.1,7.3,4.6,1.0,2.0,178.88
1,2.0,Arizona Cardinals,16.0,353.0,562.0,62.8,4616.0,35.0,6.2,13.0,...,288.5,100.9,27.0,159.0,7.8,8.0,4.6,2.0,5.0,215.02
2,3.0,Pittsburgh Steelers,16.0,391.0,590.0,66.3,4603.0,26.0,4.4,21.0,...,287.7,91.2,33.0,219.0,7.4,6.7,5.3,3.0,4.0,138.45
3,4.0,San Diego Chargers,16.0,442.0,667.0,66.3,4591.0,30.0,4.5,13.0,...,286.9,94.5,40.0,264.0,6.5,6.5,5.7,1.0,2.0,93.92
4,5.0,New England Patriots,16.0,404.0,629.0,64.2,4587.0,36.0,5.7,7.0,...,286.7,101.9,38.0,225.0,6.9,7.5,5.7,2.0,2.0,167.70

In [146]:
sample_revenue = pd.read_excel("Sample_Revenue.xls", sheetname='Sample Data')

In [147]:
sample_revenue.head()

,Revenue Performance,Capability Test Score,Behavior A Score,Behavior B Score,Compensation,Service Month,Type
0,271.8,783.35,33.53,40.55,16.66,13.20,A
1,264.0,748.45,36.50,36.19,16.46,14.11,A
2,238.8,684.45,34.66,37.31,17.66,15.68,A
3,230.7,827.80,33.13,32.52,17.50,10.53,A
4,251.6,860.45,35.75,33.71,16.40,11.00,B

In [148]:
#!pip install psycopg2

In [149]:
from sqlalchemy import create_engine
#engine = create_engine('postgresql://localhost/testdb')
engine = create_engine('mssql://mssqlodbc')

In [150]:
sample_revenue.to_sql("sample_revenue", engine, if_exists='replace')

In [151]:
#a = pd.read_sql_query("SELECT * FROM sample_revenue LIMIT 10", engine)
a = pd.read_sql_query("SELECT TOP 10 * FROM sample_revenue", engine)

In [152]:
a.head()

,index,Revenue Performance,Capability Test Score,Behavior A Score,Behavior B Score,Compensation,Service Month,Type
0,0,271.8,783.35,33.53,40.55,16.66,13.20,A
1,1,264.0,748.45,36.50,36.19,16.46,14.11,A
2,2,238.8,684.45,34.66,37.31,17.66,15.68,A
3,3,230.7,827.80,33.13,32.52,17.50,10.53,A
4,4,251.6,860.45,35.75,33.71,16.40,11.00,B

In [153]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'
td = pd.read_csv(url, sep='\t')

In [154]:
td.head()

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925
3,4,Roast Beef,Al&rsquo;s Deli,"The Francophile brothers behind this deli, whi...",$9.40.,914 Noyes St.,Evanston,NaN,alsdeli.net,"914 Noyes St., Evanston","914 Noyes Street, Evanston, IL 60201, USA",42.058442,-87.684425
4,5,PB&amp;L,Publican Qualty Meats,"When this place opened in February, it quickly...",$10,825 W. Fulton Mkt.,Chicago,312-445-8977,publicanqualitymeats.com,"825 W. Fulton Mkt., Chicago","825 West Fulton Market, Chicago, IL 60607, USA",41.886637,-87.648553

In [155]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', names=u_cols, encoding='latin-1')

In [156]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [157]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

In [158]:
ratings.head()

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [159]:
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']

In [160]:
movies = pd.read_csv('ml-100k/u.item', sep='|', names=m_cols, usecols=range(5), encoding='latin-1')

In [161]:
movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

In [162]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 5 columns):
movie_id              1682 non-null int64
title                 1682 non-null object
release_date          1681 non-null object
video_release_date    0 non-null float64
imdb_url              1679 non-null object
dtypes: float64(1), int64(1), object(3)
memory usage: 65.8+ KB

In [163]:
movies.dtypes

movie_id                int64
title                  object
release_date           object
video_release_date    float64
imdb_url               object
dtype: object

In [164]:
users.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

In [165]:
movies.tail(3)

,movie_id,title,release_date,video_release_date,imdb_url
1679,1680,Sliding Doors (1998),01-Jan-1998,NaN,http://us.imdb.com/Title?Sliding+Doors+(1998)
1680,1681,You So Crazy (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-1996,NaN,http://us.imdb.com/M/title-exact?Schrei%20aus%...

In [166]:
movies[20:22]

,movie_id,title,release_date,video_release_date,imdb_url
20,21,Muppet Treasure Island (1996),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Muppet%20Trea...
21,22,Braveheart (1995),16-Feb-1996,NaN,http://us.imdb.com/M/title-exact?Braveheart%20...

In [167]:
movies[0:1]

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...

In [168]:
users['occupation'].head()

0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object

In [169]:
users[['age', 'zip_code']].head()

   age zip_code
0   24    85711
1   53    94043
2   23    32067
3   24    43537
4   33    15213

In [170]:
custom_cols = ['occupation', 'sex']
users[custom_cols].head()

   occupation sex
0  technician   M
1       other   F
2      writer   M
3  technician   M
4       other   F

In [171]:
users[users.age > 25].head(3)

   user_id  age sex occupation zip_code
1        2   53   F      other    94043
4        5   33   F      other    15213
5        6   42   M  executive    98101

In [172]:
users[(users.sex =='F')|(users.age < 30)].head(3)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067

In [173]:
users[(users.sex=='M')&(users.age>40)].head(10)

    user_id  age sex     occupation zip_code
5         6   42   M      executive    98101
6         7   57   M  administrator    91344
9        10   53   M         lawyer    90703
12       13   47   M       educator    29206
13       14   45   M      scientist    55106
25       26   49   M       engineer    21044
28       29   41   M     programmer    94043
38       39   41   M  entertainment    01040
46       47   53   M      marketing    07102
47       48   45   M  administrator    12550

In [174]:
df = users.set_index('user_id')

In [175]:
df.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [176]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [177]:
df = users

In [178]:
users.set_index('user_id', inplace=True)

In [179]:
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [180]:
users.iloc[99]

age                  36
sex                   M
occupation    executive
zip_code          90254
Name: 100, dtype: object

In [181]:
users.iloc[[1, 50, 300]]

         age sex occupation zip_code
user_id
2         53   F      other    94043
51        28   M   educator    16509
301       24   M    student    55439

In [182]:
users.loc[100]

age                  36
sex                   M
occupation    executive
zip_code          90254
Name: 100, dtype: object

In [183]:
users.loc[[2, 51, 301]]

         age sex occupation zip_code
user_id
2         53   F      other    94043
51        28   M   educator    16509
301       24   M    student    55439

In [184]:
users.reset_index(inplace=True)

In [185]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [186]:
left_frame = pd.DataFrame({'key': range(5),
                          'left_value': ['a', 'b', 'c', 'd', 'e']})

In [187]:
right_frame = pd.DataFrame({'key': range(2,7),
                           'right_value': ['f','g', 'h', 'i', 'j']})

In [188]:
left_frame

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e

In [189]:
right_frame

   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

In [190]:
pd.merge(left_frame, right_frame, on='key', how='inner')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

In [191]:
pd.merge(left_frame, right_frame, left_on='key', right_on='key')

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h

In [192]:
pd.merge(left_frame, right_frame, on='key', how='left')

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c           f
3    3          d           g
4    4          e           h

In [193]:
pd.merge(left_frame, right_frame, on='key', how='outer')

   key left_value right_value
0  0.0          a         NaN
1  1.0          b         NaN
2  2.0          c           f
3  3.0          d           g
4  4.0          e           h
5  5.0        NaN           i
6  6.0        NaN           j

In [194]:
a = pd.concat([left_frame, right_frame])
a

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c         NaN
3    3          d         NaN
4    4          e         NaN
0    2        NaN           f
1    3        NaN           g
2    4        NaN           h
3    5        NaN           i
4    6        NaN           j

In [195]:
pd.concat([left_frame, right_frame], axis=1)

   key left_value  key right_value
0    0          a    2           f
1    1          b    3           g
2    2          c    4           h
3    3          d    5           i
4    4          e    6           j

In [196]:
a.iloc[0]

key              0
left_value       a
right_value    NaN
Name: 0, dtype: object

In [197]:
a.iloc[6]

key              3
left_value     NaN
right_value      g
Name: 1, dtype: object

In [198]:
pd.concat([left_frame, right_frame], axis=0)

   key left_value right_value
0    0          a         NaN
1    1          b         NaN
2    2          c         NaN
3    3          d         NaN
4    4          e         NaN
0    2        NaN           f
1    3        NaN           g
2    4        NaN           h
3    5        NaN           i
4    6        NaN           j

In [199]:
headers = ['name', 'title', 'department', 'salary']
def s2f(x):
    if x is "":
        return 0.0
    else:
        return float(x.replace('$', ''))

In [200]:
chicago = pd.read_csv("chicago_salaries.csv",
                      header=0,
                      names=headers,
                      converters={'salary': s2f}
                     )

In [201]:
chicago.head()

                  name                     title        department    salary
0      AARON,  ELVIA J          WATER RATE TAKER       WATER MGMNT   90744.0
1    AARON,  JEFFERY M            POLICE OFFICER            POLICE   84450.0
2       AARON,  KARINA            POLICE OFFICER            POLICE   84450.0
3  AARON,  KIMBERLEI R  CHIEF CONTRACT EXPEDITER  GENERAL SERVICES   89880.0
4  ABAD JR,  VICENTE M         CIVIL ENGINEER IV       WATER MGMNT  106836.0

In [202]:
chicago[chicago.salary==0]

      name title department  salary
32062  NaN   NaN        NaN     0.0

In [203]:
by_dept = chicago.groupby('department')

In [204]:
by_dept

In [205]:
by_dept.count().head()

                   name  title  salary
department
ADMIN HEARNG         39     39      39
ANIMAL CONTRL        67     67      67
AVIATION           1521   1521    1521
BOARD OF ELECTION   117    117     117
BOARD OF ETHICS       9      9       9

In [206]:
by_dept.size().tail()

department
PUBLIC LIBRARY     961
STREETS & SAN     2152
TRANSPORTN        1073
TREASURER           22
WATER MGMNT       1840
dtype: int64

In [207]:
by_dept.head(10)

,name,title,department,salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,90744.0
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,84450.0
2,"AARON, KARINA",POLICE OFFICER,POLICE,84450.0
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,89880.0
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,106836.0
5,"ABARCA, ANABEL",ASST TO THE ALDERMAN,CITY COUNCIL,70764.0
6,"ABARCA, EMMANUEL",GENERAL LABORER - DSS,STREETS & SAN,41849.6
7,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,20051.2
8,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,49452.0
9,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,93600.0
10,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,100320.0
11,"ABBATE, TERRY M",POLICE OFFICER,POLICE,90618.0
12,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,2756.0
13,"ABBOTT, LYNISE M",CLERK III,POLICE,46896.0
14,"ABBRUZZESE, WILLIAM J",INVESTIGATOR - IPRA II,IPRA,73920.0
15,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,74028.0
16,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,81588.0
17,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,99228.0
18,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,81588.0
19,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,88596.0
20,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,108228.0
21,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,92682.0
22,"ABDULLAH, KEVIN",LIEUTENANT,FIRE,111474.0
23,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,17846.4
24,"ABDULLAH, RASHAD J",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,93600.0
25,"ABDULSATTAR, MUDHAR",CIVIL ENGINEER II,WATER MGMNT,58536.0
26,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,41849.6
27,"ABDULWAHAB, ABUUBAIDA",FOSTER GRANDPARENT,FAMILY & SUPPORT,2756.0
28,"ABEJERO, JASON V",POLICE OFFICER,POLICE,87384.0
29,"ABERCROMBIE IV, EARL S",PARAMEDIC,FIRE,70380.0
...,...,...,...,...
8815,"FLOURNOY, NICOLE A",ADMINISTRATIVE ASST II,ADMIN HEARNG,62004.0
9102,"FRAUSTO, LUIS A",ASST CITY TREASURER,TREASURER,75000.0
9790,"GAVIN, MARGARET H",ASST TO THE EXEC DIR,ADMIN HEARNG,79596.0
9896,"GHESS JR, JAMES",STAFF ASST,TREASURER,81948.0
9948,"GIBSON, DARRYL",ADMINISTRATIVE ASST II,ADMIN HEARNG,64992.0
10142,"GLOVER, RHONDA L",ADMINISTRATIVE ASST II,ADMIN HEARNG,68028.0
10181,"GODWIN, GABRIEL P",SENIOR BUDGET ANALYST,BUDGET & MGMT,82668.0
10413,"GONZALEZ, WANDA Y",ADMINISTRATIVE ASST III - EXCLUDED,BUDGET & MGMT,59376.0
10688,"GREEN, CARLA T",PERSONAL CARE ATTENDANT II,DISABILITIES,37356.0
11019,"GUNN, KENNETH A",FIRST DEPUTY COMMISSIONER,HUMAN RELATIONS,118080.0
11078,"GUTIERREZ, MIRIAM",ASST TO THE CITY TREASURER,TREASURER,65004.0
11115,"GUZMAN FLORES, MICHELLE",STAFF ASST,LICENSE APPL COMM,71292.0
11353,"HANACEK, LINDA A",DIR OF INFORMATION SYSTEMS,BUDGET & MGMT,112308.0
11368,"HAN, KAREN M",ACCOUNTANT III,TREASURER,89676.0
11900,"HELDING, GEORGE A",POLICY ANALYST,TREASURER,46356.0
12124,"HERNANDEZ, MARIA I",PUBLIC RELATIONS REPRESENTATIVE I,DISABILITIES,68028.0
12355,"HILL, NATOYA",STAFF ASST,DISABILITIES,49188.0
13249,"JACKSON, DORETHA L",ASST TO THE EXEC DIR,BOARD OF ETHICS,72492.0
13793,"JOHNSON, JEFFERY C",COORD OF SPECIAL PROJECTS,BOARD OF ETHICS,79596.0
13930,"JOHNSON, WESSIE D",ADMINISTRATIVE ASST III,HUMAN RELATIONS,81948.0
15987,"LEE, KRISTEN E",HUMAN RELATIONS INVESTIGATOR II,HUMAN RELATIONS,89676.0
18863,"METTELMAN, SHANNON",EXEC ADMINISTRATIVE ASST I,BOARD OF ETHICS,48852.0
19810,"MOTLEY, HARRIETT A",ADMINISTRATIVE SERVICES OFFICER II EXCLD,HUMAN RELATIONS,79596.0
20469,"NEWSOME, JO ANN N",DIR OF HUMAN RIGHTS COMPLIANCE,HUMAN RELATIONS,97716.0
20649,"NORIEGA, MONA",CHAIRPERSON - COMMISSION ON HUMAN RELATIONS,HUMAN RELATIONS,125004.0
20795,"OAKLEY, PETER N",HUMAN RELATIONS INVESTIGATOR II,HUMAN RELATIONS,89676.0
22948,"PRIMER, EDWARD",PROGRAM DIR,BOARD OF ETHICS,83340.0
24230,"ROBINSON, ALBERT D",HUMAN RELATIONS INVESTIGATOR II,HUMAN RELATIONS,89676.0
27909,"SUPERFINE, RICHARD J",LEGAL COUNSEL - BOARD OF ETHICS,BOARD OF ETHICS,87324.0
32062,NaN,NaN,NaN,0.0

In [208]:
by_dept.sum().head(10)

                         salary
department
ADMIN HEARNG       2.996364e+06
ANIMAL CONTRL      3.683492e+06
AVIATION           1.119752e+08
BOARD OF ELECTION  6.572532e+06
BOARD OF ETHICS    7.802760e+05
BUDGET & MGMT      3.587580e+06
BUILDINGS          2.523420e+07
BUSINESS AFFAIRS   1.246842e+07
CITY CLERK         6.185521e+06
CITY COUNCIL       2.284305e+07

In [209]:
by_dept.mean()[20:25]

                         salary
department
HUMAN RESOURCES    75905.142857
INSPECTOR GEN      82118.947368
IPRA               90064.097561
LAW                74695.951208
LICENSE APPL COMM  71292.000000

In [210]:
by_dept.sum()[20:25]

                       salary
department
HUMAN RESOURCES     5313360.0
INSPECTOR GEN       4680780.0
IPRA                7385256.0
LAW                30924123.8
LICENSE APPL COMM     71292.0

In [211]:
chicago.columns.values.tolist()

['name', 'title', 'department', 'salary']

In [212]:
by_dept.title.unique()

department
ADMIN HEARNG             [ADMINISTRATIVE ASST II, CUSTOMER ACCOUNT REPR...
ANIMAL CONTRL            [ANIMAL CARE AIDE I, ANIMAL CONTROL OFFICER, A...
AVIATION                 [ELECTRICAL MECHANIC, CONSTRUCTION LABORER, AV...
BOARD OF ELECTION        [SENIOR CLERK-ELECTIONS, PRINCIPAL CLERK-ELECT...
BOARD OF ETHICS          [EXECUTIVE DIR - BOARD OF ETHICS, STAFF ASST, ...
BUDGET & MGMT            [SENIOR BUDGET ANALYST, COORD OF ECONOMIC DEVE...
BUILDINGS                [PLUMBING INSPECTOR, VENTILATION AND FURNACE I...
BUSINESS AFFAIRS         [ENGINEERING TECHNICIAN V, SENIOR PUBLIC INFOR...
CITY CLERK               [EDITORIAL ASST, ASST MANAGING EDITOR COUNCIL ...
CITY COUNCIL             [ASST TO THE ALDERMAN, STAFF ASST TO THE ALDER...
COMMUNITY DEVELOPMENT    [ACCOUNTING TECHNICIAN II, SENIOR RESEARCH ANA...
CULTURAL AFFAIRS         [SPECIAL EVENTS COORD III, ASST TO THE COMMISS...
DISABILITIES             [DEPUTY COMMISSIONER, DISABILITY SPECIALIST II...
DoIT                     [SENIOR TELECOMMUNICATIONS SPECIALIST, DIR OF ...
FAMILY & SUPPORT         [FOSTER GRANDPARENT, SENIOR PROGRAMMER/ANALYST...
FINANCE                  [BOOTER - PARKING, ACCOUNTING TECHNICIAN I, AC...
FIRE                     [FIRE ENGINEER-EMT, FIREFIGHTER (PER ARBITRATO...
GENERAL SERVICES         [CHIEF CONTRACT EXPEDITER, ELECTRICAL MECHANIC...
HEALTH                   [PERSONAL COMPUTER OPERATOR III, SENIOR ENVIRO...
HUMAN RELATIONS          [ASST TO THE COMMISSIONER, HUMAN RELATIONS SPE...
HUMAN RESOURCES          [RECRUITER, CLERK III, CLASSIFICATION & COMPEN...
INSPECTOR GEN            [DIR OF INFORMATION SYSTEMS, ASST INSPECTOR GE...
IPRA                     [INVESTIGATOR - IPRA II, INVESTIGATOR - IPRA I...
LAW                      [CHIEF ASST CORPORATION COUNSEL, LEGAL SECRETA...
LICENSE APPL COMM                                             [STAFF ASST]
MAYOR'S OFFICE           [ADMINISTRATIVE ASST, ASST ADMINISTRATIVE SECR...
OEMC                     [TRAFFIC CONTROL AIDE-HOURLY, CROSSING GUARD, ...
POLICE                   [POLICE OFFICER, CLERK III, POLICE OFFICER (AS...
POLICE BOARD             [SUPERVISING CLERK, EXECUTIVE DIR - POLICE BOARD]
PROCUREMENT              [ASST TO THE COMMISSIONER, SR PROCUREMENT SPEC...
PUBLIC LIBRARY           [LIBRARY ASSOCIATE - HOURLY, LIBRARY ASSOCIATE...
STREETS & SAN            [GENERAL LABORER - DSS, MOTOR TRUCK DRIVER, SA...
TRANSPORTN               [TRAFFIC SIGNAL REPAIRMAN, ASPHALT LABORER, MO...
TREASURER                [ASST CITY TREASURER, ACCOUNTANT I, ASSISTANT ...
WATER MGMNT              [WATER RATE TAKER, CIVIL ENGINEER IV, ENGINEER...
Name: title, dtype: object

In [213]:
chicago.head(3)

                name             title   department   salary
0    AARON,  ELVIA J  WATER RATE TAKER  WATER MGMNT  90744.0
1  AARON,  JEFFERY M    POLICE OFFICER       POLICE  84450.0
2     AARON,  KARINA    POLICE OFFICER       POLICE  84450.0

In [214]:
by_dept.title.nunique().sort_values(ascending=False)[:5]

department
TRANSPORTN          162
WATER MGMNT         154
POLICE              122
AVIATION            122
GENERAL SERVICES    121
Name: title, dtype: int64

In [215]:
def ranker(df):
    df['dept_rank'] = np.arange(len(df)) + 1
    return df

In [216]:
chicago.sort_values('salary', ascending=False, inplace=True)

In [217]:
chicago = chicago.groupby('department').apply(ranker)

In [218]:
chicago[chicago.dept_rank==1]

,name,title,department,salary,dept_rank
8184,"EVANS, GINGER S",COMMISSIONER OF AVIATION,AVIATION,300000.0,1.0
7954,"EMANUEL, RAHM",MAYOR,MAYOR'S OFFICE,216210.0,1.0
25532,"SANTIAGO, JOSE A",FIRE COMMISSIONER,FIRE,202728.0,1.0
8042,"ESCALANTE, JOHN J",FIRST DEPUTY SUPERINTENDENT,POLICE,197724.0,1.0
19672,"MORITA, JULIA Y",COMMISSIONER OF HEALTH,HEALTH,177000.0,1.0
23631,"REIFMAN, DAVID",COMMISSIONER OF PLANNING & DEVELOPMENT,COMMUNITY DEVELOPMENT,175020.0,1.0
19721,"MORRISON BUTLER, LISA V",COMMISSIONER OF FAMILY AND SUPPORT SERVICES,FAMILY & SUPPORT,175002.0,1.0
21933,"PATTON, STEPHEN R",CORPORATION COUNSEL,LAW,173664.0,1.0
12571,"HOLT, ALEXANDRA D",BUDGET DIR,BUDGET & MGMT,169992.0,1.0
22847,"POWERS, THOMAS H",COMMISSIONER OF WATER MGMT,WATER MGMNT,169512.0,1.0
25724,"SCHEINFELD, REBEKAH C",COMMISSIONER OF TRANSPORTATION,TRANSPORTN,169500.0,1.0
25731,"SCHENKEL, GARY W",EXEC DIR EMERG MGMT & COMM,OEMC,167796.0,1.0
23819,"RHEE, JAMIE L",CHIEF PROCUREMENT OFFICER,PROCUREMENT,167220.0,1.0
1419,"BANNON, BRIAN A",COMMISSIONER OF CHICAGO PUBLIC LIBRARY,PUBLIC LIBRARY,167004.0,1.0
30702,"WIDAWSKY, DANIEL J",CITY COMPTROLLER,FINANCE,165000.0,1.0
8276,"FAIRLEY, SHARON R",CHIEF ADMINISTRATOR,IPRA,161856.0,1.0
8441,"FERGUSON, JOSEPH M",INSPECTOR GENERAL,INSPECTOR GEN,161856.0,1.0
14317,"KAIDEN, MARLA M",CHIEF ADMINISTRATIVE OFFICER,CITY COUNCIL,160248.0,1.0
10947,"GUERRA, MARIA",COMMISSIONER OF BUS AFAIRS AND CONSUMER PROT,BUSINESS AFFAIRS,157092.0,1.0
30822,"WILLIAMS, CHARLES L",COMMISSIONER OF STREETS AND SANITATION,STREETS & SAN,157092.0,1.0
9200,"FRYDLAND, JUDITH",COMMISSIONER OF BUILDINGS,BUILDINGS,157092.0,1.0
23792,"REYNOLDS, DAVID J",COMMISSIONER OF FLEET & FACILITY MANAGEMENT,GENERAL SERVICES,157092.0,1.0
13212,"JACKOWIAK, PATRICIA",DIR OF ADMINISTRATIVE HEARINGS,ADMIN HEARNG,156420.0,1.0
2464,"BOONE, MICHELLE T",COMMISSIONER OF CULTURAL AFFAIRS/SPEC EVENTS,CULTURAL AFFAIRS,155040.0,1.0
1968,"BERMAN, BRENNA M",CHIEF INFORMATION OFFICER,DoIT,154992.0,1.0
4684,"CHOI, SOO",COMMISSIONER OF HUMAN RESOURCES,HUMAN RESOURCES,151572.0,1.0
15606,"LAFLEUR, KRISTI L",DEPUTY CITY TREASURER,TREASURER,150000.0,1.0
28126,"TAMLEY, KAREN M",COMM MAYORS OFF PEOPLE W DISABILITIES,DISABILITIES,138420.0,1.0
18779,"MENDOZA, SUSANA A",CITY CLERK,CITY CLERK,133545.0,1.0
1967,"BERLIN, STEVEN",EXECUTIVE DIR - BOARD OF ETHICS,BOARD OF ETHICS,131688.0,1.0
1633,"BATEMAN, KELLY ANNE",DEPUTY CHIEF ADMINISTRATIVE OFFICER,BOARD OF ELECTION,129840.0,1.0
20649,"NORIEGA, MONA",CHAIRPERSON - COMMISSION ON HUMAN RELATIONS,HUMAN RELATIONS,125004.0,1.0
31609,"YAMAJI, PETER S",VETERINARIAN,ANIMAL CONTRL,123144.0,1.0
3899,"CAPRONI, MAX A",EXECUTIVE DIR - POLICE BOARD,POLICE BOARD,97728.0,1.0
11115,"GUZMAN FLORES, MICHELLE",STAFF ASST,LICENSE APPL COMM,71292.0,1.0